<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app"> {{message}}

    <div style="border: 1px solid #000;" v-bind:class="!estaChequeado ? 'error': 'bien'">
      <p>Comodín</p>
      <div v-html="codigoHtml"></div>
    </div>
    <button v-show="mostrarBoton">Enviar mensaje</button>
    <input type="checkbox" v-model="estaChequeado" />

    <div class="contadorContainer">
      <p v-if="contador > 5">El contador es mayor a cinco ([{{contador}}]</p>
      <p v-if="contador == 5">El contador es cinco ([{{contador}}]</p>
      <p v-if="contador < 5">El contador es menor a cinco ([{{contador}}]</p>
    </div>


    <div class="listaContenedor">
      <ul>
        <!-- v-if FILTRA A URUGUAY   -->
        <li v-for="item in listaDeElementos" :key="item.id" v-if="!(item.texto === 'Uruguay')"> Los países son:   {{item.texto}} {{item.aclaracion === "Argentina" ?
          "(Argentino)" : ""}} <br> Código de área: {{item.codigoArea}}
          <hr>
        </li>

        <template v-for="(item, index) in listaDeElementos">
          <li> {{index}}) Los países son: {{item.texto}} {{item.aclaracion === "Argentina" ?
            "(Argentino)" : ""}} <br></li>
          <li>{{index}}) Código de área: {{item.codigoArea}}
            <hr>
          </li>
        </template>

        <template v-for="(item, index) in listaDeElementos">
          <p> {{index}}) Los países son: {{item.texto}} {{item.aclaracion === "Argentina" ?
            "(Argentino)" : ""}} <br></p>
          <p style="background: #ccc">{{index}}) Código de área: {{item.codigoArea}}
            <hr>
          </p>
          <ul>
            <li v-for= "(value, key) of item"> {{key}}: {{value}}</li>
          </ul>
        </template>
      </ul>
    </div>

    <input type="email" v-on:keyup.13="enviar" v-model="email">
    <!-- <button @ click="mostrarTextoEnConsola">MOSTRAR TEXTO</button> -->
    <button @click="agregarEmail" type="button" class="btn btn-success">Agregar Email</button>

    <ul>
      <li v-for="email in listaEmails">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            {{email }}
          </label>
        </div>
      </li>
    </ul>
    <button v-if="listaEmails.length>=5" @click="agregarEmail" type="button" class="btn btn-success">ENVIAR EMAILS MASIVOS</button>

  </div>

  <script src="script.js"></script>

  <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>